=render layout: "dropdown", locals: {description: "Category"} do
  %li One
  %li Two
  %li Three
  %li Four
  %li Five

=render layout: "dropdown", locals: {description: "Instinct", disabled: true} do
  %li Nightmarish
  %li Berserker
  %li Vengeful
  %li Predator
  %li Relentless
  %li Stalker

