.dropdown
  .dropdown-container
    %p.dropdown-description Category
    %p#category.dropdown-button Click to Select
    %ul#category-menu.dropdown-menu.dropdown-select
      %li One
      %li Two
      %li Three
      %li Four
      %li Five

.dropdown
  .dropdown-container
    %p.dropdown-description Instinct
    %p#instinct.dropdown-button Click to Select
    %ul#instinct-menu.dropdown-menu.dropdown-select
      %li Nightmarish
      %li Berserker
      %li Vengeful
      %li Predator
      %li Relentless
      %li Stalker
