=render layout: "dropdown", locals: {description: "Category"} do
  %li One
  %li Two
  %li Three
  %li Four
  %li Five

=render layout: "dropdown", locals: {description: "Instinct", disabled: true, cards: true} do 
  - @instincts.each do |instinct|
    = render partial: 'card', locals: {header: instinct.name, copy: instinct.description}
