.build_points_container.dropdown
  .dropdown-container
    .build_points_label.dropdown-description Build Points
    .build_points.dropdown-button 0

=render layout: "dropdown", locals: {description: "Category"} do
  - @categories.each do |category|
    %li{build_points: category.build_points}= category.name

=render layout: "dropdown", locals: {description: "Instinct", disabled: true, cards: true} do 
  - @instincts.each do |instinct|
    = render partial: 'card', locals: {header: instinct.name, copy: instinct.description}
